*{margin: 0; padding:0;}  

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: inherit;
    margin-top: 6px;
    margin-left: 3px;
    background-color:rgb(206, 224, 246); 
    background-image: url(foto2.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 1531px 655px;   
    background-position: right bottom; 
        
} 

.menu {
    list-style:none;
    border: 1px solid #4d2ed8;
    float: left;
    
    font-weight: bold;
}
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #5d5c61;
    
}

.menu li a{ color:rgb(24, 7, 156);   
    text-decoration:none; padding:10px 15px;display:block;}

.menu li a:hover{
    background:#fff;
    color:#5a8afa;
    text-shadow:0px 0px 5px #fff;
    box-shadow: 0 3px 10px 0 #CCC;
        
}

.menu li ul{
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul, .menu li.over ul{display: block;}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 123px;
}

h1{
    color:rgb(24, 7, 156);
    font-size: x-large;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}